.caidan a:link{
  text-decoration:none;
  }
.caidan  ul li a{
  display:inline-block;
  margin: auto;
  text-align:center;
  width:80px;
  padding:2px;
  background-color: #ADD8E6;
  border:2px solid black;
  border-radius:20px;
  }

     @-webkit-keyframes 'tu'{
        0%{
            -webkit-transform:scale(1);
            background-color: #eee;
            border-radius: 10px;
        }
        40%{
            -webkit-transform:scale(1.1);
            background-color: #bbb;
            border-radius: 10px;
        }
        100%{
            -webkit-transform:scale(1);
            background-color: #bbb;
            border-radius: 10px;
        }
     }
.caidan  ul li a:hover{
        -webkit-animation-name:'tu';
        -webkit-animation-duration:1s;
        -webkit-animation-iteration-count:infinite;
     }
     }